__pycache__/
asm/
assets/
build/
expected/

permuter_settings.toml
undefined_syms_auto.txt
undefined_funcs_auto.txt

.ninja_log
.ninja_deps
.splache
.cache
build.ninja
progress/
orig/
SLPM_645.25*

compile_commands.json

*.bin
*.ld
*.o
ctx.c
ctx.c.m2c
